
@{
    ViewBag.Title = "IndexInstructor";
}

@using ContosoUniversity.Models;

@{
    ViewBag.Title = "IndexInstructor";
}



<div class="jumbotron">
    <h1>Contoso University - Instructor</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>

        @if (Session["User"] != null)
        {
            Person user = (Person)Session["User"];
            <p>Hello @user.FirstMidName.ToUpper() @user.LastName.ToUpper()</p>
            if (user is Student)
            {
                <p>You're a Student</p>
            }
            else if (user is Instructor)
            {
                <p>You're a Instructor</p>
            }
        }
    </div>

    <div>
        <table>
            <thead>Agenda</thead>
            <tr>
                <th>Heure</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>

            @for (int heure = 8; heure <= 19; heure++)
            {
            <tr>
                <td>@heure - @(heure + 1) </td>
                <td>@heure - @(heure + 1) </td>
                <td>@heure - @(heure + 1) </td>
                <td>@heure - @(heure + 1) </td>
                <td>@heure - @(heure + 1) </td>
                <td>@heure - @(heure + 1) </td>




            </tr>
            }
            @foreach (Lesson lesson in @ViewBag.Lessons)
            {

            }
        </table>

    </div>


</div>

