@using ContosoUniversity.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>

        @if (Session["User"] != null)
        {
            Person user = (Person)Session["User"];
            <p>Hello @user.FirstMidName.ToUpper() @user.LastName.ToUpper()</p>
            if (user is Student)
            {
                <p>You're a Student</p>
            }
            else if (user is Instructor)
            {
                <p>You're a Instructor</p>
            }
        }
    </div>

    <div>

        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Instructor
                </th>
                <th>
                    Launch Date
                </th>
                <th>
                    Session Per Week
                </th>
                <th></th>
            </tr>

            @foreach (Course course in @ViewBag.Courses)
            {
                <tr>
                    <td>
                        @course.Title
                    </td>
                    <td>
                        @course.Instructors.First().FullName
                    </td>
                    <td>
                        ...
                    </td>
                    <td>
                        ...
                    </td>
                </tr>
            }
            </table>

    </div>
   
        
</div>