@using ContosoUniversity.Models;
@using ContosoUniversity.Enum;
@{
    ViewBag.Title = "IndexInstructor";
}

<div class="jumbotron">
    <h1>Contoso University - Instructor</h1>
</div>
<div class="row">


    <div>
        <table class="table table-bordered">
            <thead>
                
                @if (Session["User"] != null)
                {
                    Person user = (Person)Session["User"];
                <p  class="text-center h3">Agenda - @user.FirstMidName.ToUpper() @user.LastName.ToUpper()</p>
                }
            </thead>
            <tr>
                <th>Heure</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>

            @for (int heure = 8; heure <= 19; heure++)
            {
            <tr>
                <td>@heure - @(heure + 1) </td>

                <td>@ViewBag.Lessons[heure][DayOfCourse.Monday]</td>
                <td>@ViewBag.Lessons[heure][DayOfCourse.Tuesday]</td>
                <td>@ViewBag.Lessons[heure][DayOfCourse.Wednesday]</td>
                <td>@ViewBag.Lessons[heure][DayOfCourse.Thursday]</td>
                <td>@ViewBag.Lessons[heure][DayOfCourse.Friday]</td>
                
            </tr>
            }
        </table>

    </div>


</div>

